entrypoint = "aibtc-v1/app.py"

run = "git submodule update --init && cd agent-tools-ts && npm install && cd .. && streamlit run aibtc-v1/app.py"

modules = ["python-3.11", "nodejs-18"]

hidden = [".pythonlibs", ".streamlit"]

[nix]
channel = "stable-24_05"

[env]
STREAMLIT_SERVER_HEADLESS = "true"

[deployment]
run = [
    "sh",
    "-c",
    "git submodule update --init && cd agent-tools-ts && npm install && cd .. && streamlit run --server.enableCORS=false --server.enableWebsocketCompression=false --server.runOnSave=false --client.toolbarMode=viewer aibtc-v1/app.py",
]
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 8501
externalPort = 80
